<!DOCTYPE html>
<html>
  	<head>
  	  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  	  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="google-site-verification" content="" />
      <meta name="author" content="Fuzzy Hedge"/>
      <meta name="copyright" content="Copyright 2017"/>
      <meta name="keywords" content="capital place market website site capitol intergalactic martian cauchy" />
      <meta name="HandheldFriendly" content="True">
      <meta name="MobileOptimized" content="320">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <meta http-equiv="cleartype" content="on">
      <meta http-equiv="x-dns-prefetch-control" content="off">
      <link rel="icon" href="/images/favicon.ico" type="image/ico" />
       {% seo %}

      <link href="" rel="publisher"/>
  		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
  		<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
  		<script src="{{ site.baseurl }}/js/jquery.poptrox.min.js"></script>
  		<script src="{{ site.baseurl }}/js/skel.min.js"></script>
  		<script src="{{ site.baseurl }}/js/init.js"></script>
  		<noscript>
  			<link rel="stylesheet" href="{{ site.baseurl }}/css/skel.css" />
  			<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
  			<link rel="stylesheet" href="{{ site.baseurl }}/css/style-xlarge.css" />
  		</noscript>
  		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/css/ie/v8.css" /><![endif]-->
      <link href="" rel="" title="" type="" />
  	</head>

	<body id="top">
      <header id="header">
          <a class="image avatar" title="By Daein Ballard CC-BY-SA-3.0 via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File%3ATerraformedMarsGlobeRealistic.jpg"><img alt="TerraformedMars" src="/images/avatar.jpg"/></a>
          <h1><strong>Under Construction</strong></h1>
          <div class="align-center-right">
          <ul class="icons">
            {% if site.email %}
              <li>
                <a href="mailto:{{ site.email }}" class="icon fa-envelope-o">
                  <span class="label">Email</span>
                </a>
              </li>
              {% endif %}
           </ul>
          
          </div>
      </header>

        {{ content }}

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
              {% if site.github_username %}
              <li>
                <a href="https://github.com/{{ site.github_username }}" class="icon fa-github">
                  <span class="label">GitHub</span>
                </a>
              </li>
              {% endif %}
              </ul>
            <!--<ul class="copyright">
                <li>&copy; Fuzzy Hedge</li>
                <li>Design: </li>
                <li>Images: </li>
            </ul>-->
        </footer>
        <!-- Google Analytics -->
        <script>
            var _gaq = [['_setAccount', 'UA-77462914-3'], ['_trackPageview']];
            (function(d, t) {
                var g = d.createElement(t),
                s = d.getElementsByTagName(t)[0];
                g.async = true;
                g.src = '//www.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g, s);
            })(document, 'script');
        </script>
	</body>
</html>
